*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    @include prefixing(box-sizing, border-box);
}

html {
    font-size: $main-font-family;
    scroll-behavior: smooth;
}

::-moz-selection {
    color: map-get($colors, "secondary");
    background-color: map-get($colors, "dark");
}

::selection {
    color: map-get($colors, "dark");
    background-color: map-get($colors, "secondary");
}

body {
    font-family: $main-font-family;
    overflow-x: hidden;
    @include coloring(dark, bg);
    @include coloring("secondary", txt);
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent !important;
}

body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    height: 12rem;
    border-radius: 4.5rem;
    background-color: darken(map-get($colors, "gray"), 13%);
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

a,
svg,
.tap-light-remove {
    -webkit-tap-highlight-color: transparent !important;
}
