.navbar {
    width: 100%;
    padding: 0.6rem 0;
    border-bottom: 0.1rem solid rgba(41, 41, 41, 0.932);
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    @include coloring(dark, bg);
    z-index: 99999;

    .row {
        width: 100%;
        height: 100%;
        @include flex-between-row;
    }

    &__logo {
        &__pic {
            width: 21%;
            position: relative;
            cursor: pointer;

            @include breakpoint(mobile) {
                width: 22%;
            }

            img {
                width: 100% !important;
            }

            &__country {
                position: absolute;
                right: -33%;
                top: 12%;
                font-size: 0.7rem;
                font-weight: 600;
                color: map-get($colors, "gray");
            }
        }
    }

    &__functions {
        width: 100%;
        @include flex-end-row;

        &__video,
        &__notifications {
            width: 2rem;
            height: 2rem;
            position: relative;
            padding: 1.4rem;
            border-radius: 50%;
            @include flex-center-row;
            cursor: pointer;
            @include transition(background-color, 0.3, ease-in-out);

            .demo-icon {
                font-size: 1.3rem;
                color: rgb(161, 161, 161);
            }

            &:hover {
                background-color: map-get($colors, "light-gray");
            }

            &::before {
                @include show-title;
            }

            &:hover::before {
                @include fade(show);
            }
        }

        &__notifications {
            margin-inline: 1.4rem;
        }

        &__avatar {
            width: 2.4rem;
            height: 2.4rem;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}
